*{
  margin: 0; padding:0;
}
body{font-family: sans-serif;}

header{
  background-color:#2d4552;
  height: 150px;
width: 100%;
  position: fixed;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25);
    top: 0px;
}

h1 {
    font-family: 'Work Sans', 'sans-serif';
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    width: 400px;
    position: absolute;
    left: calc(50% - 200px);
}

h2 {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 40px;
}

.submit{
    position: absolute;
    left: 100px;
    
}
.login-sign-up{
  float:right;
position: absolute;
    right: 150px; 

}

.login-sign-up p {
    display: inline;
}

.login {
}

.original-poster {
    font-weight: bold;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: #fff;
}

.head-wrap{
  /*change this*/
  width: 80%;
  height: 25px;
  line-height: 25px;
  color: #fff;
  position: absolute;
  top: 50%; left:50%;
  transform: translate(-50%,-50%);

}

.bodywrap {
    margin-top: 260px;
    margin-bottom: 50px;
}

.sortlabel {
    position:absolute;
    top:190px;
    left:140px;
    font-family:'Work Sans';
    font-weight:bold;
    font-size:30px
}

.sortdropdown {
    position:absolute;
    top:201px;
    left:250px;
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
}
.article-box{
  width: 200px; height: 200px;
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #2d4552;
  text-align: left;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25);
    font-family: 'Work Sans';
}
.article-box h2{
  font-size: 17px;
}
.article-box > p{
  font-size: 14px;
    margin-top: 3px;
}
.article-box img{
  height: 100px;
  width: 100%;
  background-color: grey;
box-shadow: 0 7px 14px rgba(0,0,0,0.25);
}

.article {
   width: 100%; height: 1500px;
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #2d4552;
  text-align: center;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25) 
}

.article-subtitle {
    font-style: italic;
}

iframe {
    height: 80%;
    width: 90%;
    margin-top: 5%;
}

#postBox {
    text-align: left;
    width: 100%;
}

.form {
    background-color:#2d4552;
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    box-shadow: 0 7px 14px rgba(0,0,0,0.25);
    color: white;
    text-align: center;
}

/* Vertical alignment */
#signUp {
    height: 350px;
    top: calc(50vh - 155px);
}

#login {
    height: 250px;
    top: calc(50vh - 101px);
}

#createArticle {
    height: 436px;
    top: calc(50vh - 218px);
}

/* User Posts tab */
#userPosts {
    background-color: darkgrey;
    padding-top: 30px;
}

#userComments {
    background-color: lightgrey;
    padding-top: 30px;
}

#tabPosts {
    background-color: darkgrey;
    width: 80px;
    display: inline;
    padding-left: 3px; 
    padding-right: 3px; 
    margin-left: 5px;
}

#tabComments {
    background-color: lightgrey;
    width: 80px;
    display: inline;
    padding-left: 3px; 
    padding-right: 3px; 
    margin: 0px;
}

button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background-color: lightgrey;
}
