*{
  margin: 0; padding:0;
}
body{font-family: sans-serif;}
header{
  background-color:#2d4552;
  height: 150px;
  position: relative;
}

h1 {
    text-align: center;
}
.submit{
  float: left;
}
.login-sign-up{
  float:right;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: #fff;
}

.head-wrap{
  /*change this*/
  width: 80%;
  height: 25px;
  line-height: 25px;
  color: #fff;
  position: absolute;
  top: 50%; left:50%;
  transform: translate(-50%,-50%);
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
.article-box{
  width: 200px; height: 200px;
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #2d4552;
  text-align: center;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25)
}
.article-box h2{
  font-size: 15px;
}
.article-box p{
  font-size: 10px;
}
.article-box img{
  height: 100px;
  width: 100%;
  background-color: grey;
}

#postBox {
    text-align: left;
    width: 100%;
}

.form {
    background-color:#2d4552;
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    box-shadow: 0 7px 14px rgba(0,0,0,0.25);
    color: white;
    text-align: center;
}

/* Vertical alignment */
#signUp {
    height: 310px;
    top: calc(50vh - 155px);
}

#login {
    height: 202px;
    top: calc(50vh - 101px);
}

#createArticle {
    height: 436px;
    top: calc(50vh - 218px);
}

/* User Posts tab */
#userPosts {
    background-color: darkgrey;
    padding-top: 30px;
}

#userComments {
    background-color: lightgrey;
    padding-top: 30px;
}

#tabPosts {
    background-color: darkgrey;
    width: 80px;
    display: inline;
    padding-left: 3px; 
    padding-right: 3px; 
    margin-left: 5px;
}

#tabComments {
    background-color: lightgrey;
    width: 80px;
    display: inline;
    padding-left: 3px; 
    padding-right: 3px; 
    margin: 0px;
}

button {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background-color: lightgrey;
}
